@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-alex:
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-comic {
  font-family: var(--font-comic), sans-serif; /* Fallback font */
}
.font-alex {
  font-family: var(--font-alex);
}
.font-alex {
  font-family: var(--font-alex);
}.font-edu {
  font-family: var(--font-edu);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
